.notFound {
  background: #000 !important;
  color: #d3d7de;
  font-family: "Courier new";
  font-size: 18px;
  line-height: 1.5em;
  cursor: default;
  width: 100vw;
  height: 100vh;
}

.notFound a {
  color: #fff;
}

.notFound .codeArea {
  position: absolute;
  width: 320px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notFound .codeArea > span {
  display: block;
}

.notFound h1 {
  opacity: 0.4;
  font-style: oblique;
  margin-bottom: 0px;
}

@media screen and (max-width: 320px) {
  .codeArea {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}
